DATABASE_URL=postgresql://dummy_user:dummy_password@localhost:5432/dummy_database
PAYLOAD_SECRET=123dummy_secret
S3_BUCKET=dummy_bucket
S3_ACCESS_KEY_ID=dummy_access_key_id
S3_SECRET_ACCESS_KEY=dummy_secret_access_key
S3_REGION=dummy_region
S3_ENDPOINT=dummy_endpoint
GOOGLE_MAPS_API_KEY=dummy_google_maps_api_key
PLACE_ID=dummy_place_id
RESEND_API_KEY=dummy_resend_api_key
PAGOPAR_PUBLIC_KEY=
PAGOPAR_PRIVATE_KEY=